.container {
    margin: 0 auto;
    max-width: 1000px;
}


.container__section {
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid #e2dfdf;
    margin: 0 20px;

}

.container__header {
    margin: 0 auto;
}
.container__mainHeader {
    margin: 50px 20px 0 20px;
}

.container__tasks {
    padding-left: 0px;
}
