body {
    line-height: 1.5;
}

.form {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 20%;
    padding: 20px;
    background-color: white;
    gap: 10px;
    border-bottom: 10px solid #e2dfdf;
}

@media (max-width: 767px) {
    .form {
    grid-template-columns: 1fr;
    }
}


.form__input {
    padding: 10px;
    font-size: 1.2em;

}

.form__button {
    padding: 10px;
    background-color: teal;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.form__button:active {
    outline: 1px solid black;
    border-radius: 2px;
}

.form__task {
    list-style-type: none;  
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 0px 20px;
    border-bottom: 2px solid #e2dfdf;
    padding: 10px 0;
}

.form__task--done {
    list-style-type: none;
    border-bottom: 2px solid #e2dfdf;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 0px 20px;
    padding: 10px 0;
}


.form__task--done .form__content {
    text-decoration: line-through;
}

.form__taskDoneButton {
   border: none;
   background-color: green;
   color: white;
   width: 30px;
   height: 30px;
}
.form__taskDoneButton:active {
    outline: 1px solid black;    
}   

.form__taskRemoveButton {   
    padding: 0px;
    border: none;
    background-color: red;
    color: white;
    width: 30px;
    height: 30px;
}
.form__taskRemoveButton:active {
    outline: 1px solid black;   
}    